input {
	max-width: 100%;
}

#subheader {
	color: #000000; 
	background-color: #eeeeee;
	padding: 10px 10px;
	text-align: center;
}
#header {
	color: #ffffff; 
	background-color: #000000;
	padding: 10px 10px;
	text-align: center;
	font-size: 14pt;
}

#evenrow {
	background-color: #dcdcdc;
	padding: 10px 10px;
	text-align: left;
	margin-top: 4px;
}
#oddrow {
	background-color: #aaaaaa;
	padding: 10px 10px;
	text-align: left;
	margin-top: 4px;
}
#GrandtotalFC {
	color: #000000; 
	background-color: #eeeeee;
	padding: 10px 10px;
	text-align: center;
}

#misc1unit,#misc2unit,#misc3unit,#misc4unit,#misc5unit{
	width: 75px;
}

.row_Cont_Per div:nth-child(even){
	background-color: #dcdcdc;
	padding: 10px 10px;
	text-align: left;
	margin-top: 4px;
}

.row_Cont_Per div:nth-child(odd){
	background-color: #aaaaaa;
	padding: 10px 10px;
	text-align: left;
	margin-top: 4px;
}
@media (max-width: 480px) {
    #RoadPicPara {
    font-size:6px;
    padding: 1px 1px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #RoadPicPara {
    font-size:7px;
    padding: 1px 1px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #RoadPicPara {
    font-size:11px;
    padding: 3px 3px;
    }
    .row_Cont_Per div:nth-child(4n), .row_Cont_Per div:nth-child(4n-1) {
    	background-color: #dcdcdc;
    }
    .row_Cont_Per div:nth-child(4n-2), .row_Cont_Per div:nth-child(4n-3) {
    	background-color: #aaaaaa;
    }
}

@media (min-width: 980px) {
  #RoadPicPara {
  font-size:14px;
  padding: 5px 5px;
  }
  .row_Cont_Per div:nth-child(6n), .row_Cont_Per div:nth-child(6n-1), .row_Cont_Per div:nth-child(6n-2) {
    	background-color: #dcdcdc;
    }
    .row_Cont_Per div:nth-child(6n-3), .row_Cont_Per div:nth-child(6n-4), .row_Cont_Per div:nth-child(6n-5) {
    	background-color: #aaaaaa;
    }
}