//
// <================ Colors used through out the App ================>
//

$mediumgray: #dcdcdc;
$gray:#aaaaaa;
$MOTTableOrange:rgb(252,213,180);
$MOTTableBlue:rgb(197,217,241);
$white: #FFFFFF;
$labelgrey: #333333;
$black: #000000;
$lightgray: #eeeeee;
$red: #ff0000;