@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/themes';
@import 'partials/individualtweaks';
@import 'partials/buttons';

input {
	max-width: 100%;
}

a {
	&.link {
		color: $white;
	}
	&.label_link {
		color: $labelgrey;
	}
}

#Label_Me {
	padding: 0px ;
}
#GrandtotalFC {
	color: $black; 
	background-color: $lightgray;
	padding: 10px 10px;
	text-align: center;
}

#misc1unit,#misc2unit,#misc3unit,#misc4unit,#misc5unit{
	width: 75px;
}