<!DOCTYPE html>
<html>
<head>
    <title>Fills that will be Constructed out of Commercial Rock Material Information Fillout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li class="active"><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <div class="col-xs-3">
                    <a href="UnisuitableMaterial"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                </div>
                <div class="col-xs-6">
                    Commercial Rock Material
                </div>
                <div class="col-xs-3">
                    <a href="Drainage"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right gyphicon-spacing"></i></button></a>
                </div>
            </div>
        </div>
        <div class="toggle_even_row">
            <div class="col-xs-12 col-sm-4">
                <label for="CommercialRockMaterialLength">Length (ft)</label>
                <input type="number" id="CommercialRockMaterialLength" value="" class="form-control">
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="CommercialRockMaterialWidth">Width (ft)</label>
                <input type="number" id="CommercialRockMaterialWidth" value="" class="form-control">
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="CommercialRockMaterialDistance">Distance (ft)</label>
                <input type="number" id="CommercialRockMaterialDistance" value="" class="form-control">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/minipages.min.js"></script>
</html>