<!DOCTYPE html>
<html>
<head>
    <title>Fills that will be Constructed out of Commercial Rock Material Information Fillout</title>
    <meta charset="utf-8">
    <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
<!--<link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/libapps/sites/5231/include/style.css"> -->
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="/">Vdot Logo</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li class="active"><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">Fills that will be Constructed out of Commercial Rock Material</div>
        </div>
        <div class="toggle_even_row">
            <div class="col-xs-12 col-sm-4">
                <label for="CommercialRockMaterialLength">Length (ft)</label>
                <input type="number" id="CommercialRockMaterialLength" value="" class="form-control">
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="CommercialRockMaterialWidth">Width (ft)</label>
                <input type="number" id="CommercialRockMaterialWidth" value="" class="form-control">
            </div>
            <div class="col-xs-12 col-sm-4">
                <label for="CommercialRockMaterialDistance">Distance (ft)</label>
                <input type="number" id="CommercialRockMaterialDistance" value="" class="form-control">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/minipages.min.js"></script>
<!-- <script type="text/javascript" src="//s3.amazonaws.com/libapps/sites/5231/include/localmemory.js"></script> -->
</html>