<!DOCTYPE html>
<html>
<head>
    <title>Contingency Interface</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
    <link rel="stylesheet" type="text/css" href="/components/jquery-ui/themes/base/jquery-ui.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">window.jQuery.ui || document.write('<script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"><\/script>')</script>
    <script type="text/javascript" src="/components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="hide" id="TestsIfCDNBootstrapLoadsProperly"></div>
    <script type="text/javascript">
    if ($('#TestsIfCDNBootstrapLoadsProperly').is(':visible') === true) {
        $('<link type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />').appendTo('head');
    };
    </script>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li class="active"><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <div class="col-xs-3">
                    <a href="UnitPrices"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                </div>
                <div class="col-xs-6">
                    Contingency Interface
                </div>
                <div class="col-xs-3">
                    <a href="Receipt"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right gyphicon-spacing"></i></button></a>
                </div>
            </div>
        </div>
        <div class="row_type_1">
            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="GIPercentinput">Grading Items:</label>
                <input type="text" id="GIPercentinput">
                <div id="GIPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="DIPercentinput">Drainage Items:</label>
                <input type="text" id="DIPercentinput">
                <div id="DIPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="PavIPercentinput">Pavement Items:</label>
                <input type="text" id="PavIPercentinput">
                <div id="PavIPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="IIPercentinput">Incidental Items:</label>
                <input type="text" id="IIPercentinput">
                <div id="IIPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="ProIPercentinput">Protective Items:</label>
                <input type="text" id="ProIPercentinput">
                <div id="ProIPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="ECPercentinput">Erosion Control:</label>
                <input type="text" id="ECPercentinput">
                <div id="ECPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="UPercentinput">Utilities:</label>
                <input type="text" id="UPercentinput">
                <div id="UPercent"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="TSPercentinput">Traffic and Safety:</label>
                <input type="text" id="TSPercentinput">
                <div id="TSPercent"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="Perslider">
                <label for="BPercentinput">Bridge:</label>
                <input type="text" id="BPercentinput">
                <div id="BPercent"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/minipage.contingency.min.js"></script>
</html>