<!doctype html>
<html>
<head>
	<title>Data Entry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/jquery/dist/jquery.min.js"><\/script>')</script>
    <script async type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script async type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="Road_Estimate_Tool">
        <div class="col-xs-12">
            <div class='panel panel-primary'>
                <div class='panel-heading'> Datarecord Management </div>
                <div class='panel-body'>
                    <div class='button-center-form text-center'>
                        <button type='button' class='btn btn-warning btn-md' id="CreateFormButton"> Create Record <i class="fa fa-plus"></i> </button>
                    </div>
                    <div class='button-center-form text-center'>
                        <button type='button' class="btn btn-warning btn-md" id='UpdateFormButton'> Update Record <i class='fa fa-pencil'></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class='recordform' id='CreateRecordForm'>
            <div class="col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Create a Road Estimate Record</div>
                    <div class="panel-body">
                        <form id='CreateForm'>
                            <div class="form-group">
                                <!-- type=hidden && readonly input Attribute as well as div with id of user -->
                                <label>Estimator</label>
                                <input type="text" class="form-control" name="CreateEstimator" required>
                            </div>
                            <div class="form-group">
                                <label>UPC</label>
                                <input type="number" class="form-control" name="CreateUPC" required>
                            </div>
                            <div class="form-group">
                                <label>Road Number</label>
                                <input type="text" class="form-control" name="CreateRoadNumber" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="CreateDataArray" required>
                                <input type="hidden" name="CreateCTime" required>
                                <input type="hidden" name="CreateUTime" required>
                            </div>
                            <button type="submit" class="btn btn-warning btn-md">Create Record</button>
                            <button class='btn btn-primary' type='button' data-toggle="modal" data-target="#FormQA"><span>&#63;</span></button>
                        </form>
                    <% if (messageC.length > 0) { %>
                        <div class='panel-footer'>
                            <%= messageC %>
                        </div>               
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class='recordform' id='UpdateRecordForm'>
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Update a Road Estimate Record</div>
                    <div class="panel-body">
                        <form id='UpdateForm'>
                        <div class='pull-right' id='LastImportInfoDiv'>
                            <button class='btn btn-success btn-small' type='button' id='LastImportInfo'><span>Last Import Info</span></button>
                        </div>
                            <div class="form-group">
                                <!-- type=hidden && readonly input Attribute as well as div with id of user -->
                                <label>Estimator</label>
                                <input type="text" class="form-control" name="UpdateEstimator" required>
                            </div>
                            <div class="form-group">
                                <label>UPC</label>
                                <input type="number" class="form-control" name="UpdateUPC" required>
                            </div>
                            <div class="form-group">
                                <label>Road Number</label>
                                <input type="text" class="form-control" name="UpdateRoadNumber" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="UpdateDataArray" required>
                                <input type="hidden" name="UpdateTimeStamp" required>
                            </div>
                            <button type="submit" class="btn btn-warning btn-md">Update Record</button>
                            <button class='btn btn-primary' type='button' data-toggle="modal" data-target="#FormQA"><span>&#63;</span></button>
                        </form>
                    <% if (messageU.length > 0) { %>
                        <div class='panel-footer'>
                            <%= messageU %>
                        </div>               
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Proposed Year -->
    <div class="modal fade" id="FormQA" tabindex="-1" role="dialog" aria-labelledby="FormQALabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="FormQALabel">Create/Update Form</h4>
          </div>
            <div class="modal-body">
            When you Create or Update a form a snapshot of the data you have entered is then gathered and stored in the database with your name, UPC number, and Route number. This record is stored on the database for 3 months and then it is automatically deleted. Make sure to fill out ALL of the information on each form.
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
</body>
<script async type="text/javascript" src="/js/createupdaterecord.min.js"></script>
</html>