<!doctype html>
<html>
<head>
	<title>Data Entry</title>
	<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="/">Vdot Logo</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container" id="Road_Estimate_Tool">

	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-sign-in"></span> Signup</h1>

		<!-- LOGIN FORM -->
		<form action="/CreateUpdate" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Signup</button>
		</form>

		<hr>

		<p>Already have an account? <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>

</div>
</body>
</html>