<!DOCTYPE html>
<html>
<head>
    <title>Earthwork:Fill Information Fillout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
</head>
<body>
    <div class="hide" id="TestsIfCDNBootstrapLoadsProperly"></div>
    <script type="text/javascript">
    if ($('#TestsIfCDNBootstrapLoadsProperly').is(':visible') === true) {
        $('<link type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />').appendTo('head');
    };
    </script>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a id='AdministerInformation' href="AdministerInformation">Administration Data</a></li>
                    <li><a id='ExistingRoadway' href="ExistingRoadway">Existing Road</a></li>
                    <li><a id='ExistingBridge' href="ExistingBridge">Existing Bridge</a></li>
                    <li><a id='ProposedRoad' href="ProposedRoad">Proposed Road</a></li>
                    <li><a id='ProposedBridge' href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a id='Connections' href="Connections">Connections</a></li>
                    <li><a id='EarthworkCut' href="EarthworkCut">Earthwork:Cut</a></li>
                    <li class="active"><a id='EarthworkFill' href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a id='UnsuitableMaterial' href="UnsuitableMaterial">Unsuitable Material</a></li>
                    <li><a id='RipRapSlopes' href="RipRapSlopes">Rip Rap Slopes</a></li>
                    <li><a id='Drainage' href="Drainage">Drainage</a></li>
                    <li><a id='SWMFacility' href="SWMFacility">SWM Facility</a></li>
                    <li><a id='Traffic' href="Traffic">Traffic</a></li>
                    <li><a id='Entrances' href="Entrances">Entrances</a></li>
                    <li><a id='UtilityImpacts' href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a id='RW3' href="RW3">Retaining Wall RW-3</a></li>
                    <li><a id='Sidewalk' href="Sidewalk">Sidewalk</a></li>
                    <li><a id='Mitigation' href="Mitigation">Mitigation</a></li>
                    <li><a id='MiscellaneousItems' href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a id='UnitPrices' href="UnitPrices">Unit Prices</a></li>
                    <li><a id='Contingency' href="Contingency">Contingency</a></li>
                    <li><a id='Receipt' href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hide panel panel-danger" id='LoadedRecord'>
        <div class="panel-heading">Record Currently Loaded</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='col-xs-4'><b><u>Estimator:</u></b></div>
                    <div class='col-xs-4'><b><u>UPC:</u></b></div>
                    <div class='col-xs-4'><b><u>RoadNumber:</u></b></div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-4'>
                        <span id='RecordEstimator'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordUPC'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordRoadNumber'></span>
                    </div>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ImportLastloaded'>Import Record</button>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ReceiptOfLoaded'>Receipt Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <a href="EarthworkCut"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                Earthwork:Fill
                <a href="UnsuitableMaterial"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right glyphicon-spacing"></i></button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6"><img src="images/RLFill.jpg" class="img-responsive" width="2550" height="3300"></div>
            <div class="col-xs-6"><img src="images/MiddleFill.jpg" class="img-responsive" width="2550" height="3300"></div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><b>Length:</b></div>
                    <div class="panel-body"><p>Length of Section</p></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Width:</div>
                    <div class="panel-body"><p>Distance from existing edge pf pavement to the proposed bottom/top of cut/fill</p></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Distance:</div>
                    <div class="panel-body"><p>Distance from existing edge of pavement to the proposed cut/fill tie-in (using a range finder is recommended)</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2">
                <label class="btn btn-default wholechkboxstyl">
                    <input type="checkbox" id="FCB1"> 1 Section(s)
                </label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <label class="btn btn-default wholechkboxstyl">
                    <input type="checkbox" id="FCB2"> 2 Section(s)
                </label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <label class="btn btn-default wholechkboxstyl">
                    <input type="checkbox" id="FCB3"> 3 Section(s)
                </label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <label class="btn btn-default wholechkboxstyl">
                    <input type="checkbox" id="FCB4"> 4 Section(s)
                </label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <label class="btn btn-default wholechkboxstyl">
                    <input type="checkbox" id="FCB5"> 5 Section(s)
                </label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <label class="btn btn-default wholechkboxstyl">
                    <input type="checkbox" id="FCB6"> 6 Section(s)
                </label>
            </div>
        </div>
        <div id="checkbox1">
            <div class="row">
                <div class="col-xs-12" id="subheader">Left Section 1</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FL1l">Length (ft)</label>
                    <input type="number" id="FL1l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL1w">(W) Width (ft)</label>
                    <input type="number" id="FL1w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL1d">(D) Distance (ft)</label>
                    <input type="number" id="FL1d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Mid Section 1</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FM1l">Length (ft)</label>
                    <input type="number" id="FM1l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM1w">(W) Width (ft)</label>
                    <input type="number" id="FM1w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM1d">(D) Distance (ft)</label>
                    <input type="number" id="FM1d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Right Section 1</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FR1l">Length (ft)</label>
                    <input type="number" id="FR1l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR1w">(W) Width (ft)</label>
                    <input type="number" id="FR1w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR1d">(D) Distance (ft)</label>
                    <input type="number" id="FR1d" value="" class="form-control">
                </div>
            </div>
        </div>

        <div id="checkbox2">
            <div class="row">
                <div class="col-xs-12" id="subheader">Left Section 2</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FL2l">Length (ft)</label>
                    <input type="number" id="FL2l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL2w">(W) Width (ft)</label>
                    <input type="number" id="FL2w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL2d">(D) Distance (ft)</label>
                    <input type="number" id="FL2d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Mid Section 2</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FM2l">Length (ft)</label>
                    <input type="number" id="FM2l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM2w">(W) Width (ft)</label>
                    <input type="number" id="FM2w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM2d">(D) Distance (ft)</label>
                    <input type="number" id="FM2d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Right Section 2</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FR2l">Length (ft)</label>
                    <input type="number" id="FR2l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR2w">(W) Width (ft)</label>
                    <input type="number" id="FR2w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR2d">(D) Distance (ft)</label>
                    <input type="number" id="FR2d" value="" class="form-control">
                </div>
            </div>
        </div>

        <div id="checkbox3">
            <div class="row">
                <div class="col-xs-12" id="subheader">Left Section 3</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FL3l">Length (ft)</label>
                    <input type="number" id="FL3l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL3w">(W) Width (ft)</label>
                    <input type="number" id="FL3w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL3d">(D) Distance (ft)</label>
                    <input type="number" id="FL3d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Mid Section 3</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FM3l">Length (ft)</label>
                    <input type="number" id="FM3l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM3w">(W) Width (ft)</label>
                    <input type="number" id="FM3w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM3d">(D) Distance (ft)</label>
                    <input type="number" id="FM3d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Right Section 3</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FR3l">Length (ft)</label>
                    <input type="number" id="FR3l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR3w">(W) Width (ft)</label>
                    <input type="number" id="FR3w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR3d">(D) Distance (ft)</label>
                    <input type="number" id="FR3d" value="" class="form-control">
                </div>
            </div>
        </div>

        <div id="checkbox4">
            <div class="row">
                <div class="col-xs-12" id="subheader">Left Section 4</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FL4l">Length (ft)</label>
                    <input type="number" id="FL4l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL4w">(W) Width (ft)</label>
                    <input type="number" id="FL4w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL4d">(D) Distance (ft)</label>
                    <input type="number" id="FL4d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Mid Section 4</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FM4l">Length (ft)</label>
                    <input type="number" id="FM4l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM4w">(W) Width (ft)</label>
                    <input type="number" id="FM4w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM4d">(D) Distance (ft)</label>
                    <input type="number" id="FM4d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Right Section 4</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FR4l">Length (ft)</label>
                    <input type="number" id="FR4l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR4w">(W) Width (ft)</label>
                    <input type="number" id="FR4w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR4d">(D) Distance (ft)</label>
                    <input type="number" id="FR4d" value="" class="form-control">
                </div>
            </div>
        </div>

        <div id="checkbox5">
            <div class="row">
                <div class="col-xs-12" id="subheader">Left Section 5</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FL5l">Length (ft)</label>
                    <input type="number" id="FL5l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL5w">(W) Width (ft)</label>
                    <input type="number" id="FL5w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL5d">(D) Distance (ft)</label>
                    <input type="number" id="FL5d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Mid Section 5</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FM5l">Length (ft)</label>
                    <input type="number" id="FM5l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM5w">(W) Width (ft)</label>
                    <input type="number" id="FM5w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM5d">(D) Distance (ft)</label>
                    <input type="number" id="FM5d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Right Section 5</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FR5l">Length (ft)</label>
                    <input type="number" id="FR5l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR5w">(W) Width (ft)</label>
                    <input type="number" id="FR5w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR5d">(D) Distance (ft)</label>
                    <input type="number" id="FR5d" value="" class="form-control">
                </div>
            </div>
        </div>

        <div id="checkbox6">
            <div class="row">
                <div class="col-xs-12" id="subheader">Left Section 6</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FL6l">Length (ft)</label>
                    <input type="number" id="FL6l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL6w">(W) Width (ft)</label>
                    <input type="number" id="FL6w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FL6d">(D) Distance (ft)</label>
                    <input type="number" id="FL6d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Mid Section 6</div>
            </div>
            <div class="toggle_even_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FM6l">Length (ft)</label>
                    <input type="number" id="FM6l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM6w">(W) Width (ft)</label>
                    <input type="number" id="FM6w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FM6d">(D) Distance (ft)</label>
                    <input type="number" id="FM6d" value="" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" id="subheader">Right Section 6</div>
            </div>
            <div class="toggle_odd_row">
                <div class="col-xs-12 col-sm-4">
                    <label for="FR6l">Length (ft)</label>
                    <input type="number" id="FR6l" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR6w">(W) Width (ft)</label>
                    <input type="number" id="FR6w" value="" class="form-control">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label for="FR6d">(D) Distance (ft)</label>
                    <input type="number" id="FR6d" value="" class="form-control">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/pageinput.min.js"></script>
</html>