<!DOCTYPE html>
<html>
<head>
    <title>Mitigation Information Fillout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
</head>
<body>
    <div class="hide" id="TestsIfCDNBootstrapLoadsProperly"></div>
    <script type="text/javascript">
    if ($('#TestsIfCDNBootstrapLoadsProperly').is(':visible') === true) {
        $('<link type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />').appendTo('head');
    };
    </script>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a id='AdministerInformation' href="AdministerInformation">Administration Data</a></li>
                    <li><a id='ExistingRoadway' href="ExistingRoadway">Existing Road</a></li>
                    <li><a id='ExistingBridge' href="ExistingBridge">Existing Bridge</a></li>
                    <li><a id='ProposedRoad' href="ProposedRoad">Proposed Road</a></li>
                    <li><a id='ProposedBridge' href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a id='Connections' href="Connections">Connections</a></li>
                    <li><a id='EarthworkCut' href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a id='EarthworkFill' href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a id='UnsuitableMaterial' href="UnsuitableMaterial">Unsuitable Material</a></li>
                    <li><a id='RipRapSlopes' href="RipRapSlopes">Rip Rap Slopes</a></li>
                    <li><a id='Drainage' href="Drainage">Drainage</a></li>
                    <li><a id='SWMFacility' href="SWMFacility">SWM Facility</a></li>
                    <li><a id='Traffic' href="Traffic">Traffic</a></li>
                    <li><a id='Entrances' href="Entrances">Entrances</a></li>
                    <li><a id='UtilityImpacts' href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a id='RW3' href="RW3">Retaining Wall RW-3</a></li>
                    <li><a id='Sidewalk' href="Sidewalk">Sidewalk</a></li>
                    <li class="active"><a id='Mitigation' href="Mitigation">Mitigation</a></li>
                    <li><a id='MiscellaneousItems' href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a id='UnitPrices' href="UnitPrices">Unit Prices</a></li>
                    <li><a id='Contingency' href="Contingency">Contingency</a></li>
                    <li><a id='Receipt' href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hide panel panel-danger" id='LoadedRecord'>
        <div class="panel-heading">Record Currently Loaded</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='col-xs-4'><b><u>Estimator:</u></b></div>
                    <div class='col-xs-4'><b><u>UPC:</u></b></div>
                    <div class='col-xs-4'><b><u>RoadNumber:</u></b></div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-4'>
                        <span id='RecordEstimator'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordUPC'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordRoadNumber'></span>
                    </div>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ImportLastloaded'>Import Record</button>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ReceiptOfLoaded'>Receipt Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <a href="Sidewalk"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                Mitigation 
                <button class="btn btn-default" data-toggle="modal" data-target="#MitHeader">&#63;</button>
                <a href="MiscellaneousItems"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right glyphicon-spacing"></i></button></a>
            </div>
        </div>
        <div class="row_type_1">
            <div class="col-xs-12 col-sm-6">
                <label for="MitigationStream">Stream (LF)</label>
                <input type="number" id="MitigationStream" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6">
                <label>Wetland (acre)</label>
                <input type="number" id="MitigationWetland" value="" class="form-control">
            </div>
        </div>
    </div>
    <!-- Modal for Mitigation Header -->
    <div class="modal fade" id="MitHeader" tabindex="-1" role="dialog" aria-labelledby="MitHeaderLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="MitHeaderLabel">Mitigation Info</h4>
          </div>
            <div class="modal-body">
            Mitigation is <b><u>TO BE COMPLETED BY CONTRACTOR</u></b>. Most mitigation will be included in PE Cost.
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/pageinput.min.js"></script>
</html>