<!DOCTYPE html>
<html>
<head>
    <title>Proposed Roadway Information Fillout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/components/jquery-ui/themes/base/jquery-ui.min.css">
    <link href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">window.jQuery.ui || document.write('<script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"><\/script>')</script>
    <script type="text/javascript" src="/components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
    <script type="text/javascript">
        function pageLetterNumber () {
            return 'M';
        }
    </script>
</head>
<body>
    <div class="hide" id="TestsIfCDNBootstrapLoadsProperly"></div>
    <script type="text/javascript">
    if ($('#TestsIfCDNBootstrapLoadsProperly').is(':visible') === true) {
        $('<link type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />').appendTo('head');
    };
    </script>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar" id='menuIcon'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a id='AdministerInformation' href="AdministerInformation">Administration Data</a></li>
                    <li><a id='ExistingRoadway' href="ExistingRoadway">Existing Road</a></li>
                    <li><a id='ExistingBridge' href="ExistingBridge">Existing Bridge</a></li>
                    <li class="active"><a id='ProposedRoad' href="ProposedRoad">Proposed Road</a></li>
                    <li><a id='ProposedBridge' href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a id='Connections' href="Connections">Connections</a></li>
                    <li><a id='EarthworkCut' href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a id='EarthworkFill' href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a id='UnsuitableMaterial' href="UnsuitableMaterial">Unsuitable Material</a></li>
                    <li><a id='RipRapSlopes' href="RipRapSlopes">Rip Rap Slopes</a></li>
                    <li><a id='Drainage' href="Drainage">Drainage</a></li>
                    <li><a id='SWMFacility' href="SWMFacility">SWM Facility</a></li>
                    <li><a id='Traffic' href="Traffic">Traffic</a></li>
                    <li><a id='Entrances' href="Entrances">Entrances</a></li>
                    <li><a id='UtilityImpacts' href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a id='RW3' href="RW3">Retaining Wall RW-3</a></li>
                    <li><a id='Sidewalk' href="Sidewalk">Sidewalk</a></li>
                    <li><a id='Mitigation' href="Mitigation">Mitigation</a></li>
                    <li><a id='MiscellaneousItems' href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a id='UnitPrices' href="UnitPrices">Unit Prices</a></li>
                    <li><a id='Contingency' href="Contingency">Contingency</a></li>
                    <li><a id='Receipt' href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hide panel panel-danger" id='LoadedRecord'>
        <div class="panel-heading">Record Currently Loaded</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='col-xs-4'><b><u>Estimator:</u></b></div>
                    <div class='col-xs-4'><b><u>UPC:</u></b></div>
                    <div class='col-xs-4'><b><u>RoadNumber:</u></b></div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-4'>
                        <span id='RecordEstimator'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordUPC'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordRoadNumber'></span>
                    </div>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ImportLastloaded'>Import Record</button>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ReceiptOfLoaded'>Receipt Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <div class="col-xs-3">
                    <a href="ExistingBridge"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                </div>
                <div class="col-xs-6">
                    <a class='link' href="http://www.extranet.vdot.state.va.us/locdes/Electronic_Pubs/2005%20RDM/appenda.pdf">Proposed Roadway</a> 
                <button class="btn btn-default" data-toggle="modal" data-target="#PropRHeader">&#63;</button>
                </div>
                <div class="col-xs-3">
                    <a href="ProposedBridge"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right glyphicon-spacing"></i></button></a>
                </div>
            </div>
        </div>
        <div class="row_type_1">
            <div class="col-xs-12 col-sm-6 col-md-4" id="Divboxtweak">
                <label for="ProposedRoadwayLength">Length (ft)</label>
                    <input type="number" id="ProposedRoadwayLength" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Divboxtweak">
                <label for="PavedRoadwayWidth">Paved Roadway Width (ft)</label>
                    <input type="number" id="PavedRoadwayWidth" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">Total Shoulder Width (ft)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="TotalShoulderWidth" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#TotShrWid">&#63;</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">Paved Shoulder Width (ft)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="PavedShoulderWidth" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#PavShlrWid">&#63;</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="PavedShoulderType">Paved Shoulder Type</label>
                    <select id="PavedShoulderType" class="form-control">
                        <option value="">Please Select</option>
                        <option value="SurfaceMixOnly">Surface Mix Only</option>
                        <option value="Full Pave.Depth">Full Pave.Depth</option>
                    </select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="CurbandGutterRequired">Are the Curb and Gutter Required?</label>
                    <select id="CurbandGutterRequired" class="form-control">
                        <option value="">Please Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="Divboxtweak">
                <label for="LengthofCG">Length of Curb and Gutter (if Required) (ft)</label>
                    <input type="number" id="LengthofCG" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">Surface Mix (SM) Pave. Depth (in)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="SurfaceMixPaveDepth" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#SurMixPavDep">&#63;</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">Intermediate Mix (IM) Pave. Depth (in)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="IntermediateMix" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#IntMix">&#63;</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">Base Mix (BM) Pave. Depth (in)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="BaseMix" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#BasMix">&#63;</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">No. 21B Stone Depth (in)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="NoTwoOneBStone" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#No21BS">&#63;</button>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="InfoBox">
                <label for="Label_Me">No. 1 Stone depth (in)</label>
                <div class="input-group" id="Label_Me">
                    <input type="number" id="NoOneStoneDepth" value="" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-toggle="modal" data-target="#No1SD">&#63;</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row_type_1">
            <div class="col-xs-12 col-md-8" id="Perslider">
                <label for="NewHorizontalAlignmentinput">Percentage of New Horizontal Alignment:</label>
                <input type="text" id="NewHorizontalAlignmentinput">
                <div id="NewHorizontalAlignment"></div>
            </div>
        </div>
    </div>
    
    <!-- Modal Code -->

    <!-- Modal for TotalShoulderWidth -->
    <div class="modal fade" id="TotShrWid" tabindex="-1" role="dialog" aria-labelledby="TotShrWidLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="TotShrWidLabel">Total Shoulder Width Info</h4>
          </div>
            <div class="modal-body">
                <li>
                    Average Shoulder Width for One Shoulder.
                </li>
                <li>
                    If only one shoulder is required, divide the shoulder width by 2.
                </li>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for PavedShoulderWidth -->
    <div class="modal fade" id="PavShlrWid" tabindex="-1" role="dialog" aria-labelledby="PavShlrWidLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="PavShlrWidLabel">Paved Shoulder Width Info</h4>
          </div>
            <div class="modal-body">
                <li>
                    Average Shoulder Width for One Shoulder.
                </li>
                <li>
                    Paved Shoulder Width will always be at least a minimum of 1'.
                </li>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for Surface Mix Pavement Depth -->
    <div class="modal fade" id="SurMixPavDep" tabindex="-1" role="dialog" aria-labelledby="SurMixPavDepLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="SurMixPavDepLabel">Surface Mix Pavement Depth Info</h4>
          </div>
            <div class="modal-body">
            Typically 1.5"-2.0"
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for Intermediate Mix -->
    <div class="modal fade" id="IntMix" tabindex="-1" role="dialog" aria-labelledby="IntMixLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="IntMixLabel">Intermediate Mix Info</h4>
          </div>
            <div class="modal-body">
            Typically 2"-3" (if required)
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for Base Mix -->
    <div class="modal fade" id="BasMix" tabindex="-1" role="dialog" aria-labelledby="BasMixLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="BasMixLabel">Base Mix Info</h4>
          </div>
            <div class="modal-body">
            Typically 4"-6" Can be up to 10" on Interstate
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for No.21B Stone Depth -->
    <div class="modal fade" id="No21BS" tabindex="-1" role="dialog" aria-labelledby="No21BSLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="No21BSLabel">No.21B Stone Depth Info</h4>
          </div>
            <div class="modal-body">
            Typically 6" - 12"
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for No.1 Stone Depth -->
    <div class="modal fade" id="No1SD" tabindex="-1" role="dialog" aria-labelledby="No1SDLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="No1SDLabel">No.1 Stone Depth Info</h4>
          </div>
            <div class="modal-body">
            Typically used on roadways with a high truck volume. Assume 12" if needed
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal for Proposed Roadway HyperLink -->
    <div class="modal fade" id="PropRHeader" tabindex="-1" role="dialog" aria-labelledby="PropRHeaderLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="PropRHeaderLabel">Proposed Roadway HyperLink</h4>
          </div>
            <div class="modal-body">
            Hyperlink to the Road Design Manual GS Standards
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/pageinput.proposedroadway.min.js"></script>
</html>