<!DOCTYPE html>
<html>
<head>
    <title>Reciept</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrap.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
    <script type="text/javascript" src="/js/receipt.min.js"></script>
    <script type="text/javascript" src="pdfmake/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="pdfmake/build/vfs_fonts.js"></script>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li class="active"><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool_Receipt">
        <div class="row">
            <div class="col-xs-12" id="header">
                <a href="Contingency"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                Reciept
                <a href="/"><button class="btn btn-info pull-right">Home<i class="glyphicon glyphicon-menu-right gyphicon-spacing"></i></button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <h2 id="ReceiptBanner"> For use in Pre-Scoping and Scoping Construction Estimates</h2>
                    <p>
                        (This is not intended to be a detailed pay  breakdown. It is intended to be a tool that assits users in preparing early estimates prior to having developed plans. TRNSPRT should be utilites by the PFI stage.)
                    </p>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <button class="btn btn-info btn-block" id="calc">Calculate</button>
            </div>
            <div class="col-md-4" id="PrintButton">
                <button class="btn btn-info btn-block" id="prnt">Print</button>
            </div>
            <div class="col-md-4" id="PDFButton">
                <button class="btn btn-info btn-block" id="pdfdown">PDF Download</button>
            </div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-6 text-center">Project</div>
            <div class="col-xs-6 text-center" id="ProjectNum"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-6 text-center">UPC</div>
            <div class="col-xs-6 text-center" id="UPCid"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-6 text-center">Date</div>
            <div class="col-xs-6 text-center" id="time"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-6 text-center">Name</div>
            <div class="col-xs-6 text-center" id="Estname"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Mobilization and Construction Survey</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Mobilization</div>
            <div class="col-xs-1 text-center">LS</div>
            <div class="col-xs-2 text-center">1</div>
            <div class="col-xs-1 text-center" id="MobileFC"></div>
            <div class="col-xs-3 text-center" id="TotMobileFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Construction Surveying</div>
            <div class="col-xs-1 text-center">LS</div>
            <div class="col-xs-2 text-center">1</div>
            <div class="col-xs-1 text-center" id="ConstructFC"></div>
            <div class="col-xs-3 text-center" id="TotConstructFC"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Grading Items</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Clearing and Grubbing</div>
            <div class="col-xs-1 text-center">Acre</div>
            <div class="col-xs-2 text-center" id="ClearingFC"></div>
            <div class="col-xs-1 text-center" id="ClearingUP"></div>
            <div class="col-xs-3 text-center" id="TotClearingFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Regular Excavation</div>
            <div class="col-xs-1 text-center">CY</div>
            <div class="col-xs-2 text-center" id="RegularFC"></div>
            <div class="col-xs-1 text-center" id="RegularUP"></div>
            <div class="col-xs-3 text-center" id="TotRegularFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Borrow Excavation</div>
            <div class="col-xs-1 text-center">CY</div>
            <div class="col-xs-2 text-center" id="BorrowFC"></div>
            <div class="col-xs-1 text-center" id="BorrowUP"></div>
            <div class="col-xs-3 text-center" id="TotBorrowFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Unsuitable Mat'l.</div>
            <div class="col-xs-1 text-center">CY</div>
            <div class="col-xs-2 text-center" id="UnsuitableFC"></div>
            <div class="col-xs-1 text-center" id="UnsuitableUP"></div>
            <div class="col-xs-3 text-center" id="TotUnsuitableFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Backfill Stone (No.1) For Unsuitable Matl. Areas</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="BackfillFC"></div>
            <div class="col-xs-1 text-center" id="BackfillUP"></div>
            <div class="col-xs-3 text-center" id="TotBackfillFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Dry Riprap</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="RiprapFC"></div>
            <div class="col-xs-1 text-center" id="RiprapUP"></div>
            <div class="col-xs-3 text-center" id="TotRiprapFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="GradingSubTot"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Grading Items Contingency</div>
            <div class="col-xs-4 text-center" id="GradeCon"></div>
            <div class="col-xs-4 text-center" id="GradingContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Drainage Items</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Concrete Box Culvert</div>
            <div class="col-xs-1 text-center">LS</div>
            <div class="col-xs-2 text-center">1</div>
            <div class="col-xs-1 text-center" id="ConcreteFC"></div>
            <div class="col-xs-3 text-center" id="TotConcreteFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Pipes Under 36"</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="PipesUFC"></div>
            <div class="col-xs-1 text-center" id="PipesUUP"></div>
            <div class="col-xs-3 text-center" id="TotPipesFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Pipes Over 36"</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="PipesOFC"></div>
            <div class="col-xs-1 text-center" id="PipesOUP"></div>
            <div class="col-xs-3 text-center" id="TotPipesOFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">End Walls for Pipe Over 36"</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="EndWallsFC"></div>
            <div class="col-xs-1 text-center" id="EndWallsUP"></div>
            <div class="col-xs-3 text-center" id="TotEndwallsFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Drop Inlets</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="DropFC"></div>
            <div class="col-xs-1 text-center" id="DropUP"></div>
            <div class="col-xs-3 text-center" id="TotDropFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Curb and Gutter</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="CurbFC"></div>
            <div class="col-xs-1 text-center" id="CurbUP"></div>
            <div class="col-xs-3 text-center" id="TotCurbFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="DrainageSubTot"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Drainage Items Contingency (XX%)</div>
            <div class="col-xs-4 text-center" id="DrainCon"></div>
            <div class="col-xs-4 text-center" id="DrainageContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Pavement Items</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Surface Course</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="SurfaceFC"></div>
            <div class="col-xs-1 text-center" id="SurfaceUP"></div>
            <div class="col-xs-3 text-center" id="TotSurfaceFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Intermediate Course</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="IntermediateFC"></div>
            <div class="col-xs-1 text-center" id="IntermediateUP"></div>
            <div class="col-xs-3 text-center" id="TotIntermediateFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Base Course</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="BaseFC"></div>
            <div class="col-xs-1 text-center" id="BaseUP"></div>
            <div class="col-xs-3 text-center" id="TotBaseFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Subbase Course</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="SubbaseFC"></div>
            <div class="col-xs-1 text-center" id="SubbaseUP"></div>
            <div class="col-xs-3 text-center" id="TotSubbaseFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">No.1 Stone</div>
            <div class="col-xs-1 text-center">Tons</div>
            <div class="col-xs-2 text-center" id="No1FC"></div>
            <div class="col-xs-1 text-center" id="No1UP"></div>
            <div class="col-xs-3 text-center" id="TotNo1FC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="PavementSubTot"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Pavement Items Contingency</div>
            <div class="col-xs-4 text-center" id="PaveCon"></div>
            <div class="col-xs-4 text-center" id="PavementContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Incidental Items</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Retaining Walls (Conc)</div>
            <div class="col-xs-1 text-center">CY</div>
            <div class="col-xs-2 text-center" id="RetainFC"></div>
            <div class="col-xs-1 text-center" id="RetainUP"></div>
            <div class="col-xs-3 text-center" id="TotRetainFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Rural Private Entrance</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="RuralFC"></div>
            <div class="col-xs-1 text-center" id="RuralUP"></div>
            <div class="col-xs-3 text-center" id="TotRuralFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Urban Private Entrance</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="UrbanFC"></div>
            <div class="col-xs-1 text-center" id="UrbanUP"></div>
            <div class="col-xs-3 text-center" id="TotUrbanFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Commercial Entrance</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="CommFC"></div>
            <div class="col-xs-1 text-center" id="CommUP"></div>
            <div class="col-xs-3 text-center" id="TotCommFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="IncidentalSubTot"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Incidental Items Contingency</div>
            <div class="col-xs-4 text-center" id="IncidCon"></div>
            <div class="col-xs-4 text-center" id="IncidentalContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Protective Items</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Maintenance of Traffic (Lump Sum)</div>
            <div class="col-xs-1 text-center">LS</div>
            <div class="col-xs-2 text-center">1</div>
            <div class="col-xs-1 text-center" id="MainUP"></div>
            <div class="col-xs-3 text-center" id="TotMainFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Field Office</div>
            <div class="col-xs-1 text-center">MO</div>
            <div class="col-xs-2 text-center" id="FieldFC"></div>
            <div class="col-xs-1 text-center" id="FieldUP"></div>
            <div class="col-xs-3 text-center" id="TotFieldFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Sidewalk</div>
            <div class="col-xs-1 text-center">SY</div>
            <div class="col-xs-2 text-center" id="SideFC"></div>
            <div class="col-xs-1 text-center" id="SideUP"></div>
            <div class="col-xs-3 text-center" id="TotSideFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="ProtectiveSubTot"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Protective Items Contingency</div>
            <div class="col-xs-4 text-center" id="ProtCon"></div>
            <div class="col-xs-4 text-center" id="ProtectiveContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Erosion Items</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Storm Water Management Facility</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="StormFC"></div>
            <div class="col-xs-1 text-center" id="StormUP"></div>
            <div class="col-xs-3 text-center" id="TotStormFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Seeding</div>
            <div class="col-xs-1 text-center">LB</div>
            <div class="col-xs-2 text-center" id="SeedFC"></div>
            <div class="col-xs-1 text-center" id="SeedUP"></div>
            <div class="col-xs-3 text-center" id="TotSeedFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Temporary Silt Fence</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="TempFC"></div>
            <div class="col-xs-1 text-center" id="TempUP"></div>
            <div class="col-xs-3 text-center" id="TotTempFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Check Dams TY I or TY II</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="CheckFC"></div>
            <div class="col-xs-1 text-center" id="CheckUP"></div>
            <div class="col-xs-3 text-center" id="TotCheckFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="ErosionSubTot"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Erosion Items Contingency</div>
            <div class="col-xs-4 text-center" id="ErosCon"></div>
            <div class="col-xs-4 text-center" id="ErosionContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Utilities</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Below Ground Utilities (Lump Sum $$$$)</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="BelowFC"></div>
            <div class="col-xs-1 text-center" id="BelowUP"></div>
            <div class="col-xs-3 text-center" id="TotBelowFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="UtilitiesSubTot"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Utilities Items Contingency</div>
            <div class="col-xs-4 text-center" id="UtilCon"></div>
            <div class="col-xs-4 text-center" id="UtilitiesContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Traffic and Safety</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Permanent Signal (Lump Sum)</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="PermFC"></div>
            <div class="col-xs-1 text-center" id="PermUP"></div>
            <div class="col-xs-3 text-center" id="TotPermFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Pavement Markings (If Applicable)</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="PaveFC"></div>
            <div class="col-xs-1 text-center" id="PaveUP"></div>
            <div class="col-xs-3 text-center" id="TotPaveFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Guardrail GR-2</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="GuardFC"></div>
            <div class="col-xs-1 text-center" id="GuardUP"></div>
            <div class="col-xs-3 text-center" id="TotGuardFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">End Treatment GR-9</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="EndFC"></div>
            <div class="col-xs-1 text-center" id="EndUP"></div>
            <div class="col-xs-3 text-center" id="TotEndFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">GR-FOA's If Bridge Is On Project</div>
            <div class="col-xs-1 text-center">EA</div>
            <div class="col-xs-2 text-center" id="GRFC"></div>
            <div class="col-xs-1 text-center" id="GRUP"></div>
            <div class="col-xs-3 text-center" id="TotGRFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="TrafficSSubTot"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Traffic and Safety Items Contingency</div>
            <div class="col-xs-4 text-center" id="TrafCon"></div>
            <div class="col-xs-4 text-center" id="TrafficSContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Bridge</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">NS Bridge (Lump Sum $)(Use $300 Per Square Foot)</div>
            <div class="col-xs-1 text-center">SF</div>
            <div class="col-xs-2 text-center" id="NSFC"></div>
            <div class="col-xs-1 text-center" id="NSUP"></div>
            <div class="col-xs-3 text-center" id="TotNSFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Demolition of Existing Bridge</div>
            <div class="col-xs-1 text-center">LS</div>
            <div class="col-xs-2 text-center" id="DemoFC"></div>
            <div class="col-xs-1 text-center" id="DemoUP"></div>
            <div class="col-xs-3 text-center" id="TotDemoFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="BridgeSubTot"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Bridge Items Contingency</div>
            <div class="col-xs-4 text-center" id="BridCon"></div>
            <div class="col-xs-4 text-center" id="BridgeContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Stream/Wetland Mitigation that is included in Construction</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Stream Mitigation</div>
            <div class="col-xs-1 text-center">LF</div>
            <div class="col-xs-2 text-center" id="StreamFC"></div>
            <div class="col-xs-1 text-center" id="StreamUP"></div>
            <div class="col-xs-3 text-center" id="TotStreamFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">Wetland Mitigation</div>
            <div class="col-xs-1 text-center">ACRE</div>
            <div class="col-xs-2 text-center" id="WetlandFC"></div>
            <div class="col-xs-1 text-center" id="WetlandUP"></div>
            <div class="col-xs-3 text-center" id="TotWetlandFC"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Miscellaneous items not in Spread Sheet can be added here</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Unit Price</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center" id="MiscI1I"></div>
            <div class="col-xs-1 text-center" id="MiscI1Qu"></div>
            <div class="col-xs-2 text-center" id="MiscI1FC"></div>
            <div class="col-xs-1 text-center" id="MiscI1UP"></div>
            <div class="col-xs-3 text-center" id="TotMiscI1FC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center" id="MiscI2I"></div>
            <div class="col-xs-1 text-center" id="MiscI2Qu"></div>
            <div class="col-xs-2 text-center" id="MiscI2FC"></div>
            <div class="col-xs-1 text-center" id="MiscI2UP"></div>
            <div class="col-xs-3 text-center" id="TotMiscI2FC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center" id="MiscI3I"></div>
            <div class="col-xs-1 text-center" id="MiscI3Qu"></div>
            <div class="col-xs-2 text-center" id="MiscI3FC"></div>
            <div class="col-xs-1 text-center" id="MiscI3UP"></div>
            <div class="col-xs-3 text-center" id="TotMiscI3FC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center" id="MiscI4I"></div>
            <div class="col-xs-1 text-center" id="MiscI4Qu"></div>
            <div class="col-xs-2 text-center" id="MiscI4FC"></div>
            <div class="col-xs-1 text-center" id="MiscI4UP"></div>
            <div class="col-xs-3 text-center" id="TotMiscI4FC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center" id="MiscI5I"></div>
            <div class="col-xs-1 text-center" id="MiscI5Qu"></div>
            <div class="col-xs-2 text-center" id="MiscI5FC"></div>
            <div class="col-xs-1 text-center" id="MiscI5UP"></div>
            <div class="col-xs-3 text-center" id="TotMiscI5FC"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">Sub-Totals</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Item</div>
            <div class="col-xs-4 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-8 text-center">Contingency Total</div>
            <div class="col-xs-4 text-center" id="ContingencyFC"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-8 text-center">Sub-Total</div>
            <div class="col-xs-4 text-center" id="SubTotalsFC"></div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-8 text-center">Total</div>
            <div class="col-xs-4 text-center" id="PreGrandTotalsFC"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="subheader">CEI & Contingency</div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Item</div>
            <div class="col-xs-1 text-center">Unit</div>
            <div class="col-xs-2 text-center">Quantity</div>
            <div class="col-xs-1 text-center">Percentage</div>
            <div class="col-xs-3 text-center">Amount</div>
        </div>
        <div class="row default_odd_row">
            <div class="col-xs-4 text-center">CEI of at least 20% as a lump Sum Item</div>
            <div class="col-xs-1 text-center">LS</div>
            <div class="col-xs-2 text-center">1</div>
            <div class="col-xs-1 text-center" id="MainPercent"></div>
            <div class="col-xs-3 text-center" id="CEIPercentSum"></div>
        </div>
        <div class="row default_even_row">
            <div class="col-xs-4 text-center">Project Contingency</div>
            <div class="col-xs-4 text-center" id="TierNum"></div>
            <div class="col-xs-4 text-center" id="ProjectContin"></div>
        </div>
        <div class="row">
            <div class="col-xs-8 text-center" id="subheader">Grand Total</div>
            <div class="col-xs-4 text-center" id="GrandtotalFC"></div>
        </div>
    </div>
</body>
</html>