<!DOCTYPE html>
<html>
<head>
    <title>Retaining wall RW-3 Information Fillout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="hide" id="TestsIfCDNBootstrapLoadsProperly"></div>
    <script type="text/javascript">
    if ($('#TestsIfCDNBootstrapLoadsProperly').is(':visible') === true) {
        $('<link type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />').appendTo('head');
    };
    </script>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li class="active"><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <div class="col-xs-3">
                    <a href="UtilityImpacts"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                </div>
                <div class="col-xs-6">
                    Retaining wall RW-3
                </div>
                <div class="col-xs-3">
                    <a href="Sidewalk"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right gyphicon-spacing"></i></button></a>
                </div>
            </div>
        </div>
        <div class="row_type_1">
            <div class="col-xs-12 col-sm-6">
                <label for="RetainingWallRW3AvgHeight">Avg. Height (ft)</label>
                <select id="RetainingWallRW3AvgHeight" class="form-control">
                        <option value="">Please Select</option>
                        <option value="0">0</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select>
            </div>

            <div class="col-xs-12 col-sm-6">
                <label for="RetainingWallRW3Length">Length (ft)</label>
                <input type="number" id="RetainingWallRW3Length" value="" class="form-control">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/minipages.min.js"></script>
</html>