<!doctype html>
<html>
<head>
	<title>Data Entry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='/bootstrap/dist/js/bootstrap.min.js'></script>
	<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li class="active"><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Vdot Logo</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnisuitableMaterial">Unisuitable Material</a></li>
                    <li><a href="CommercialRockFills">Commercial Rock</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="Road_Estimate_Tool">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading"> Load Record from Database</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Estimator</label>
                        <input type="text" class="form-control" id="SearchEstimator">
                    </div>
                    <div class="form-group">
                        <label>UPC</label>
                        <input type="number" class="form-control" id="SearchUPC">
                    </div>
                    <div class="form-group">
                        <label>Road Number</label>
                        <input type="text" class="form-control" id="SearchRoadNumber">
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-info btn-md" id="SearchButton">Search</button>
                </div>
            </div>
        </div>        
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading"> Search Results from Database</div>
                <div class="panel-body">
                    <div id="SearchResultsTable"></div>
                        <div class="col-xs-12" id="subheader">
                            <div class="col-xs-4">Estimator</div>
                            <div class="col-xs-4">UPC</div>
                            <div class="col-xs-4">Road Number</div>
                        </div>
                        <div id="SearchResultsfromQuery"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading"> Information of Record</div>
                <div class="panel-body">
                    <div id="SearchResultsTable"></div>
                        <div class="col-xs-12 toggle_odd_row">
                            <div class="col-xs-12"><b><i>Extimator:</i></b></div>
                            <div class="col-xs-12" id="loadEstimator"></div>
                        </div>
                        <div class="col-xs-12 toggle_even_row">
                            <div class="col-xs-12"><b><i>UPC:</i></b></div>
                            <div class="col-xs-12" id="loadUPC"></div>
                        </div>
                        <div class="col-xs-12 toggle_odd_row">
                            <div class="col-xs-12"><b><i>Road Number:</i></b></div>
                            <div class="col-xs-12" id="loadRoadNumber"></div>
                        </div>
                        <div class="col-xs-12 toggle_even_row">
                            <div class="col-xs-12"><b><i>Date Created:</i></b></div>
                            <div class="col-xs-12" id='loadDateCreated'></div>
                        </div>
                        <div class="col-xs-12 toggle_odd_row">
                            <div class="col-xs-12"><b><i>Last Updated:</i></b></div>
                            <div class="col-xs-12" id='loadDateUpdated'></div>
                        </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#ImportDataModal"id="importdatamodal">Import Record</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ImportDataModal" tabindex="-1" role="dialog" aria-labelledby="ImportDataModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ImportDataModalLabel">Reset</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                        This button imports a datarecord in this web app and in doing so erases all data that is on this device locally for this web app. If you haven't saved the data on this device please do so by creating a new record.
                        </p>
                        <button class="btn btn-danger" data-dismiss="modal" id="ImportDatarecord">Import Record</button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/global.min.js"></script>
</body>
</html>