<!DOCTYPE html>
<html>
<head>
    <title>Server Administration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	
</body>