<!DOCTYPE html>
<html>
<head>
    <title>Traffic Information Fillout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
</head>
<body>
    <div class="hide" id="TestsIfCDNBootstrapLoadsProperly"></div>
    <script type="text/javascript">
    if ($('#TestsIfCDNBootstrapLoadsProperly').is(':visible') === true) {
        $('<link type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />').appendTo('head');
    };
    </script>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle databasebutton-position" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="CreateUpdateRecord">Create/Update a Record</a></li>
                        <li><a href="RetrieveRecord">Retrieve a Record</a></li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="AdministerInformation">Administration Data</a></li>
                    <li><a href="ExistingRoadway">Existing Road</a></li>
                    <li><a href="ExistingBridge">Existing Bridge</a></li>
                    <li><a href="ProposedRoad">Proposed Road</a></li>
                    <li><a href="ProposedBridge">Proposed Bridge</a></li>
                    <li><a href="Connections">Connections</a></li>
                    <li><a href="EarthworkCut">Earthwork:Cut</a></li>
                    <li><a href="EarthworkFill">Earthwork:Fill</a></li>
                    <li><a href="UnsuitableMaterial">Unsuitable Material</a></li>
                    <li><a href="RipRapSlopes">Rip Rap Slopes</a></li>
                    <li><a href="Drainage">Drainage</a></li>
                    <li><a href="SWMFacility">SWM Facility</a></li>
                    <li class="active"><a href="Traffic">Traffic</a></li>
                    <li><a href="Entrances">Entrances</a></li>
                    <li><a href="UtilityImpacts">Utility Impacts</a></li>
                    <li><a href="RW3">Retaining Wall RW-3</a></li>
                    <li><a href="Sidewalk">Sidewalk</a></li>
                    <li><a href="Mitigation">Mitigation</a></li>
                    <li><a href="MiscellaneousItems">Miscellaneous Items</a></li>
                    <li><a href="UnitPrices">Unit Prices</a></li>
                    <li><a href="Contingency">Contingency</a></li>
                    <li><a href="Receipt">Receipt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hide panel panel-danger" id='LoadedRecord'>
        <div class="panel-heading">Record Currently Loaded</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='col-xs-4'><b><u>Estimator:</u></b></div>
                    <div class='col-xs-4'><b><u>UPC:</u></b></div>
                    <div class='col-xs-4'><b><u>RoadNumber:</u></b></div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-4'>
                        <span id='RecordEstimator'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordUPC'></span>
                    </div>
                    <div class='col-xs-4'>
                        <span id='RecordRoadNumber'></span>
                    </div>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ImportLastloaded'>Import Record</button>
                </div>
                <div class='col-xs-6'>
                    <button type="button" class='loadedrecord btn btn-warning' id='ReceiptOfLoaded'>Receipt Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Road_Estimate_Tool">
        <div class="row">
            <div class="col-xs-12" id="header">
                <a href="SWMFacility"><button class="btn btn-info pull-left"><i class="glyphicon glyphicon-menu-left glyphicon-spacing"></i>Prev</button></a>
                Traffic
                <a href="Entrances"><button class="btn btn-info pull-right">Next<i class="glyphicon glyphicon-menu-right gyphicon-spacing"></i></button></a>
            </div>
        </div>
        <div class="row_type_1">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="GuardrailLength">Guardrail Length (ft)</label>
                <input type="number" id="GuardrailLength" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="GR9">GR-9 (ea)</label>
                <input type="number" id="GR9" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="PermanentTrafficSignal">Permanent Traffic Signal (ea)</label>
                <input type="number" id="PermanentTrafficSignal" value="" class="form-control">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="HowComplexIsMOT">How complex is MOT?</label>
                <select id="HowComplexIsMOT" class="form-control">
                        <option value="">Please Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id='MOTTable'>
                <button class="btn btn-info btn-block" id="MOTrefbutton" data-toggle="modal" data-target="#ModalReferencetable">MOT Reference Table</button>
            </div>
        </div>
    </div>
    <!-- Modal window for MOT Reference Table-->
    <div class="modal fade" id="ModalReferencetable" tabindex="-1" role="dialog" aria-labelledby="ModalReferencetableLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalReferencetableLabel">MOT Rankings</h4>
                </div>
                <div class="modal-body" id="ModalReferencetable">
                    <div class="row">
                        <div class='col-xs-2'>
                            <b>Category</b>
                        </div>
                        <div class='col-xs-4'>
                            <b>Examples</b>
                        </div>
                        <div class='col-xs-2'>
                            <b>Category</b>
                        </div>
                        <div class='col-xs-4'>
                            <b>Cost</b>
                        </div>
                    </div>
                    <div class='row MOT_even_row'>
                        <div class='col-xs-2'>
                            M
                        </div>
                        <div class='col-xs-4'>
                            Maintance
                        </div>
                        <div class='col-xs-2'>
                            1
                        </div>
                        <div class='col-xs-4'>
                            $50,000
                        </div>
                    </div>
                    <div class='row MOT_odd_row'>
                        <div class='col-xs-2'>
                            I
                        </div>
                        <div class='col-xs-4'>
                            <p>Bridge and approach or low AADT Roadway Only</p>
                        </div>
                        <div class='col-xs-6'>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    2
                                </div>
                                <div class='col-xs-8'>
                                    $100,000
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    3
                                </div>
                                <div class='col-xs-8'>
                                    $150,000
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row MOT_even_row'>
                        <div class='col-xs-2'>
                            II
                        </div>
                        <div class='col-xs-4'>
                            Complex Bridge and Approach or Medium AADT Roadway Only
                        </div>
                        <div class='col-xs-6'>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    4
                                </div>
                                <div class='col-xs-8'>
                                    $200,000
                                </div>
                                <div class='col-xs-4'>
                                    5
                                </div>
                                <div class='col-xs-8'>
                                    $300,000
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row MOT_odd_row'>
                        <div class='col-xs-2'>
                            III
                        </div>
                        <div class='col-xs-4'>
                            High AADT on Primary or Urban Roadway Project < 1 mile
                        </div>
                        <div class='col-xs-6'>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    6
                                </div>
                                <div class='col-xs-8'>
                                    $500,000
                                </div>
                                <div class='col-xs-4'>
                                    7
                                </div>
                                <div class='col-xs-8'>
                                    $750,000
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row MOT_even_row'>
                        <div class='col-xs-2'>
                            IV
                        </div>
                        <div class='col-xs-4'>
                            Interstate or High AADT Primary that is > 1 mile
                        </div>
                        <div class='col-xs-6'>
                            <div class='row'>
                                <div class='col-xs-4'>
                                    8
                                </div>
                                <div class='col-xs-8'>
                                    $1,000,000
                                </div>
                                <div class='col-xs-4'>
                                    9
                                </div>
                                <div class='col-xs-8'>
                                    $2,000,000
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row MOT_odd_row'>
                        <div class='col-xs-2'>
                            V
                        </div>
                        <div class='col-xs-4'>
                            Mega Project
                        </div>
                        <div class='col-xs-2'>
                            10
                        </div>
                        <div class='col-xs-4'>
                            $4,000,000
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/pageinput.traffic.min.js"></script>
</html>