.loadedrecord.btn.btn-warning {
    padding:6px;
    width:100%;
}

#MOTTable, #MOTrefbutton {
	padding: 14px;
}

.databasebutton-position{
    margin:8px;
}

.connectbutton {
    width: 100%;
}

@media (max-width: 480px) { 
    #UnitPricebutton {
    display: inline;
	}
	#regionreset {
		width: 100%;
	}
	.wholechkboxstyl{
		width: 100%;
	}
    #PrintButton {
    	display: none;
    }
}

@media (min-width: 481px) and (max-width: 676px) {
    #UnitPricebutton {
    display: inline;
	}
	#regionreset {
		width: 100%;
	}
}
//button responsive style

@media (min-width: 481px) and (max-width: 767px) {
	.wholechkboxstyl{
		width: 100%;
	}

    #CalcButton {
        width: 50%;
    }

	
    #PrintButton {
    	display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 

	
    #PrintButton {
    	display: none;
    }
}

//====== Database record button format for resizing 

@media (max-width: 420px){
    .button-center-form{
        //col-xs-12
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        float: left;
        width: 100%;
    }
}
@media (min-width: 421px){
    .button-center-form{
        //col-xs-6
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 50%
    }
}