// These ID rules help counter little discrepancies found in bootstrap style rules that throw off the style
.glyphicon-spacing{
    position: relative;
}

#InfoBox {
    padding-top: 5px;
}
#Divboxtweak{
    padding-bottom: 9px;
}

// These ID rules help keep silder styles inline with the box right next to it
#Perslider {
    padding:18px;
}
#GIPercent,#DIPercent,#PavIPercent,
#IIPercent,#ProIPercent,#ECPercent,
#UPercent,#TSPercent,#BPercent,
#NewHorizontalAlignment,#pcei{
    padding-bottom: 1px;
}
// Preload last import button sticks to the Estimator input box 
#LastImportInfoDiv {
	padding-bottom:10px;
}