//
// <================ Button for MOT Button on Traffic.ejs ================>
//

//adjusting the colors of teh hyperlinks on each page so it retains the 
a {
    &.link {
        color: $white;
    }
    &.label_link {
        color: $labelgrey;
    }
}

#MOTrefbutton {
	padding: 14px;
}


.databasebutton-position {
    margin:8px;
}

//Unknown test

.connectbutton {
    width: 100%;
}

// Unit Prices

@media (max-width: 480px) {

    #UnitPricebutton {
    display: inline;
    }
    #regionreset {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 676px) {
    #UnitPricebutton {
    display: inline;
    }
    #regionreset {
        width: 100%;
    }
}

// Earthwork: Fill & Cut check box width

@media (max-width: 480px) { 
    
    .wholechkboxstyl{
        width: 100%;
    }
}

@media (min-width:481px) and (max-width: 767px) {
    
    .wholechkboxstyl{
        width: 100%;
    }
}

// Button formatting for the receipt page

@media (max-width: 480px) {
    
    #PrintButton {
        display: none;
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    #CalcButton {
        width: 50%;
    }

    
    #PrintButton {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 

    
    #PrintButton {
        display: none;
    }
}