#Perslider {
    padding:18px;
}
#GIPercent,#DIPercent,#PavIPercent,#IIPercent,#ProIPercent,#ECPercent,#UPercent,#TSPercent,#BPercent,#NewHorizontalAlignment{
    padding-bottom: 1px;
}

#subheader {
    color: $black; 
    background-color: $lightgray;
    padding: 10px 10px;
    text-align: center;
}
#header {
    color: $white; 
    background-color: $black;
    padding: 10px 10px;
    text-align: center;
    font-size: 14pt;
}
#checkbox1,#checkbox2,#checkbox3,
#checkbox4,#checkbox5,#checkbox6,
#subcheckbox1,#subcheckbox2,#subcheckbox3 {
    display: none;
}
.row {
    &.MOT_even_row {
        background-color:$MOTTableOrange;
    }
    &.MOT_odd_row {
        background-color:$MOTTableBlue;
    }
    &.default_even_row{
        @include even_row;
    } 
    &.default_odd_row{
        @include odd_row;
    }
}

.row_type_1 div:nth-child(even),
.unit_price_row div:nth-child(even),
.toggle_even_row div:nth-child(even),
.toggle_even_row div{
	@include even_row;
}

.row_type_1 div:nth-child(odd),
.unit_price_row div:nth-child(odd),
.toggle_odd_row div:nth-child(odd),
.toggle_odd_row div{
	@include odd_row;
}
.connectbutton {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) { 
    .row_type_1 div:nth-child(4n), .row_type_1 div:nth-child(4n-1) {
    	background-color: $mediumgray;
    }
    .row_type_1 div:nth-child(4n-2), .row_type_1 div:nth-child(4n-3) {
    	background-color: $gray;
    }
}

@media (min-width: 992px) {
  	.row_type_1 div:nth-child(6n), .row_type_1 div:nth-child(6n-1), .row_type_1 div:nth-child(6n-2) {
    	background-color: $mediumgray;
    }
    .row_type_1 div:nth-child(6n-3), .row_type_1 div:nth-child(6n-4), .row_type_1 div:nth-child(6n-5) {
    	background-color: $gray;
    }
}