//
// <================ Mixins used throught out the app================>
//

@mixin even_row {
	background-color: $mediumgray;
	padding: 10px 10px;
	text-align: left;
	margin-top: 4px;
}

@mixin odd_row {
	background-color: $gray;
	padding: 10px 10px;
	text-align: left;
	margin-top: 4px;
}